@charset "UTF-8";
/*반응형 화면 크기*/
/*반응형, 브라우저 크기가 767px 이하일때*/
/*반응형, 브라우저 크기가 768이상, 1023px 이하일때*/
/*반응형, 브라우저 크기가 1024이상, 1440px 이하일때*/
@font-face {
  font-family: "RoxboroughCF";
  font-style: italic;
  src: url("../fonts/RoxboroughCF.woff") format("woff");
}
@font-face {
  font-family: "Yapari";
  src: url("../fonts/Yapari-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-Thin.woff") format("woff");
  font-weight: 100;
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-ExtraLight.woff") format("woff");
  font-weight: 200;
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-Light.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  box-sizing: border-box;
  flex-shrink: 0;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html, body {
  height: 100%;
  line-height: 1;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style: none;
}

fieldset {
  border: 0;
}

/* body 기초세팅 */
body {
  position: relative;
  min-width: 320px;
  min-height: 100%;
  background-color: #f1f1f1;
  font-family: "Pretendard", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: #333;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.wrapper {
  background-color: #161616;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  z-index: 10;
  font-family: "Yapari", sans-serif;
}
.header .group-header {
  padding: 0 30px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (max-width: 767px) {
  .header .group-header {
    height: 60px;
  }
}
.header .group-header .logo {
  font-size: 18px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .header .group-header .logo {
    font-size: 14px;
  }
}
.header .group-header .time {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: #d72539;
  font-family: "Yapari", sans-serif;
}
@media (max-width: 767px) {
  .header .group-header .time {
    top: 60px;
    transform: translate(-50%, 0);
  }
}
@media (max-width: 767px) {
  .header .group-header .btn-talk {
    font-size: 12px;
  }
}

.footer {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 30px 50px;
  color: #fff;
}
@media (max-width: 767px) {
  .footer {
    padding-bottom: 70px;
  }
}
.footer i {
  margin-right: 10px;
}
.footer .copy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 767px) {
  .footer .copy {
    top: 80px;
    white-space: nowrap;
  }
}

.sc-intro {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sc-intro .row .title {
  color: #fff;
  font-weight: bold;
  text-align: center;
  display: block;
  font-family: "Yapari", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
}
.sc-intro .row .title.bold {
  font-size: 70px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .sc-intro .row .title.bold {
    font-size: 28px;
  }
}
@media (max-width: 767px) {
  .sc-intro .row .title {
    font-size: 16px;
    margin-bottom: 12px;
  }
}
.sc-intro .deco {
  position: absolute;
}
.sc-intro .deco svg {
  width: 100%;
  height: 100%;
}
.sc-intro .deco.deco1 {
  top: 20%;
  left: 20%;
}
.sc-intro .deco.deco2 {
  bottom: 10%;
  left: 10%;
  width: 100px;
  height: 100px;
}
@media (max-width: 767px) {
  .sc-intro .deco.deco2 {
    width: 60px;
    height: 60px;
  }
}
.sc-intro .deco.deco3 {
  top: 5%;
  right: 30%;
  width: 80px;
  height: 80px;
}
@media (max-width: 767px) {
  .sc-intro .deco.deco3 {
    top: 15%;
    width: 48px;
    height: 48px;
  }
}
.sc-intro .deco.deco4 {
  bottom: 20%;
  right: 20%;
  width: 20px;
  height: 20px;
}

.sc-project {
  padding: 0 50px;
}
@media (max-width: 767px) {
  .sc-project {
    padding: 0 30px;
  }
}
.sc-project .headline {
  text-align: center;
  font-size: 50px;
  padding: 100px 0;
  font-family: "Yapari", sans-serif;
  color: #fff;
}
@media (max-width: 767px) {
  .sc-project .headline {
    font-size: 24px;
    padding: 30px 0;
  }
}
.sc-project .group-nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  width: 100%;
}
.sc-project .group-nav .sort-area {
  display: flex;
  gap: 10px;
}
@media (max-width: 767px) {
  .sc-project .group-nav .sort-area {
    gap: 8px;
    flex-wrap: wrap;
    width: 100%;
  }
}
.sc-project .group-nav .sort-area button {
  padding: 8px 20px;
  color: #777;
  border-radius: 5px;
  background: #333;
  font-weight: 500;
}
.sc-project .group-nav .sort-area button.on {
  background: #fff;
}
@media (max-width: 1023px) {
  .sc-project .group-nav .sort-area button {
    padding: 6px 16px;
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .sc-project .group-nav .sort-area button {
    font-size: 10px;
  }
}
.sc-project .group-nav .set-area {
  display: flex;
  gap: 10px;
}
.sc-project .group-nav .set-area button {
  padding: 8px 20px;
  border: 1px solid #fff;
  border-radius: 5px;
  font-weight: 300;
}
.sc-project .group-nav .set-area button svg rect {
  stroke: none;
  fill: white;
}
.sc-project .group-nav .set-area button.active {
  font-weight: bold;
  background: #fff;
}
.sc-project .group-nav .set-area button.active rect {
  stroke: black;
  fill: black;
}
@media (max-width: 1023px) {
  .sc-project .group-nav .set-area button {
    padding: 6px 16px;
  }
}
@media (max-width: 767px) {
  .sc-project .group-nav .set-area button {
    display: none;
  }
}
.sc-project .group-project {
  position: relative;
  padding: 0 0px 100px;
}
@media (max-width: 767px) {
  .sc-project .group-project {
    padding-bottom: 40px;
  }
}
.sc-project .group-project .project-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.sc-project .group-project .project-list.sort {
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 767px) {
  .sc-project .group-project .project-list {
    display: block;
  }
}
.sc-project .group-project .project-item {
  display: none;
}
.sc-project .group-project .project-item.on {
  display: block;
}
.sc-project .group-project .project-item .img-box {
  display: block;
  position: relative;
  padding-bottom: 60%;
  border-radius: 10px;
  overflow: hidden;
  min-height: 185px;
}
@media (max-width: 1023px) {
  .sc-project .group-project .project-item .img-box {
    min-height: auto;
  }
}
.sc-project .group-project .project-item .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
}
.sc-project .group-project .project-item .txt-wrap {
  position: relative;
  margin: 36px 0;
  color: #fff;
}
@media (max-width: 767px) {
  .sc-project .group-project .project-item .txt-wrap {
    margin: 18px 0;
  }
}
.sc-project .group-project .project-item .txt-wrap .title {
  font-size: 22px;
  font-family: "Yapari", sans-serif;
}
@media (max-width: 767px) {
  .sc-project .group-project .project-item .txt-wrap .title {
    font-size: 18px;
  }
}
.sc-project .group-project .project-item .txt-wrap .desc {
  padding: 15px 0;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #f1f1f1;
  word-break: keep-all;
}
@media (max-width: 767px) {
  .sc-project .group-project .project-item .txt-wrap .desc {
    font-size: 14px;
  }
}
.sc-project .group-project .project-item .txt-wrap .spec {
  display: flex;
  gap: 16px;
}
@media (max-width: 1023px) {
  .sc-project .group-project .project-item .txt-wrap .spec {
    gap: 12px;
    flex-wrap: wrap;
  }
}
.sc-project .group-project .project-item .txt-wrap .spec span {
  font-size: 15px;
  color: #858585;
  font-weight: 300;
}
@media (max-width: 1023px) {
  .sc-project .group-project .project-item .txt-wrap .spec span {
    font-size: 12px;
  }
}
.sc-project .group-project .project-item .txt-wrap .link-box {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
@media (max-width: 1023px) {
  .sc-project .group-project .project-item .txt-wrap .link-box {
    gap: 10px;
  }
}
.sc-project .group-project .project-item .txt-wrap .link-box a {
  background: #fff;
  color: #000;
  font-size: 15px;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: 200;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
@media (max-width: 1023px) {
  .sc-project .group-project .project-item .txt-wrap .link-box a {
    font-size: 12px;
    padding: 6px 12px;
  }
}
.sc-project .group-project .project-item .txt-wrap .link-box a:hover {
  transform: scale(1.1);
}
.sc-project .group-project .project-item .txt-wrap .link-box a.site {
  background: #d72539;
  color: #fff;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
}

.sc-contact {
  color: #fff;
  padding: 0 60px;
}
@media (max-width: 767px) {
  .sc-contact {
    padding: 0 30px;
  }
}
.sc-contact .ambition-area {
  padding: 100px 0;
  font-size: 3vw;
  position: relative;
  line-height: 1.5;
  font-weight: 100;
  word-break: keep-all;
  text-align: center;
}
@media (max-width: 1023px) {
  .sc-contact .ambition-area {
    padding: 50px 0;
  }
}
@media (max-width: 767px) {
  .sc-contact .ambition-area {
    font-size: 14px;
    padding: 24px 0;
  }
  .sc-contact .ambition-area br {
    display: none;
  }
}
.sc-contact .ambition-area strong {
  font-weight: 500;
}